<ion-header>
  <ion-toolbar>
    <ion-title>saved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p>Saved</p>
    <p>View your saved trips here!</p>
    <ion-button expand="full" (click)="navToExplore()"> Find Homes</ion-button>
    <ion-button expand="full" (click)="navToExplore()"> Explore</ion-button>
    <ion-button expand="full" (click)="navToExplore()"> Trips</ion-button>
    <ion-button expand="full" (click)="navToInbox()"> Inbox</ion-button>
    <ion-button expand="full" (click)="navToInbox()"> Profile</ion-button>

    


</ion-content>
